{% extends "base.html" %}

{% block content %}
  <div class="breadcrumbs text-sm">
    <ul>
      <li><a href="{% url 'plein:index' %}">Plein</a></li>
      <li><a href="{% url 'people:list' %}">Personen</a></li>
    </ul>
  </div>

  <div>
    <h1 class="text-xl font-bold my-4">Personen</h1>
  </div>

  <div class="overflow-x-auto">
    <table class="table">
      <thead class="text-black">
        <tr>
          <th class="w-20 min-w-20">ID</th>
          <th class="min-w-50">Name</th>
        </tr>
      </thead>
      <tbody>
        {% for person in people %}
          <tr>
            <td><a href="{% url 'people:detail' person.pk %}">{{ person.small_id }}</a></td>
            <td><a href="{% url 'people:detail' person.pk %}">{{ person.name }}</a></td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

{% endblock content %}
